@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.merriweather {
  font-family: "Merriweather", serif;
  font-style: normal;
}
.btn-primary {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  background-color: #ff0000;
  border: none;
  border-radius: 6px;
}
/* body */
body {
  margin: 96px 112px;
}

/* hero */
header {
  height: 480px;
  width: 1056px;
  background: linear-gradient(#070211, #07021100),
    url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-subtitle {
  font-size: 25px;
}
.hero-title {
  font-size: 57px;
  line-height: 76px;
  margin: 0 275.2px 0 275.2px;
  text-align: center;
}
/* off box */
.off-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 96px 0px;
  gap: 38px;
}
.off-heading {
  font-weight: bold;
  font-size: 70px;
  color: #ff0000;
}
.off-subtitle {
  color: #ff0000;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 12px;
}
.off-title {
  font-weight: bold;
  font-size: 38px;
  color: #070211;
}
/* midnight party */
.party-sec {
  background: linear-gradient(90deg, black, rgba(0, 0, 0, 0)),
    url(../images/Vectorrr.png);
  background-position: center;
  background-size: cover;
  height: 480px;
  color: white;
  padding-left: 100px;
  padding-right: 110px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 12px;
}
.welcome-title {
  font-size: 51px;
  line-height: 70px;
  letter-spacing: 8px;
}
.welcome-des {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.8;
  margin: 9px 0 18px 0;
}
.img-2024 {
  max-height: 371px;
}
/* place-section */
.place-section {
  height: 385px;
  background: linear-gradient(rgba(255, 0, 0, 0.1), #ff000000);
  border: none;
  border-radius: 12px;
  margin: 96px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 38px;
}
.places > p {
  font-size: 25px;
  font-weight: 500;
  line-height: 44px;
}
p > span {
  color: red;
}
.join-now {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
button > a {
  text-decoration: none;
  color: white;
}
